<div class="paragraph-container" type="1">
    <img class="p-wht wht-type1" src="./assets/img/Vector-white-background.png">
    <div class="p-bg-img img-type1"  style="background-image: url('./assets/data/articles/article-003/front.jpg');"></div>        
    <h2 >Header</h2>
    <p >Paragraph... <br><button style="margin:15px auto;">Read more...</button></p>
</div>

<div class="paragraph-container" type="2">
        <img class="p-wht wht-type2" src="./assets/img/Vector-white-background.png">
        <div class="p-bg-img img-type2" style="background-image: url('./assets/img/leslie-jones-urBiLDuUhMU-unsplash.jpg');"></div>        
        <h2 style="grid-column:2">Header</h2>
        <p style="grid-column:2">Paragraph...<br><button style="margin:15px auto;">Read more...</button></p>            
</div>
